<div class="content">
  <div class="container">
    <div class="big-slide">
      <img src="../../assets/hinh-anh-dep-chat-luong-001.jpg " alt="">
    </div>
    <div class="slide row">
      <div class="box col-md-4">
        <div class="image"
             style="background-image: url('../../assets/Ngam_nhung_hinh_anh_tuyet_dep_ve_Viet_Nam_tren_bao_Anh_01.jpg')"></div>
        <h1 class="py-2 text-sm"> Indonectetus facilis</h1>
        <p class="description">Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna.</p>
        <p class="text-right txt">Read more >></p>
      </div>

      <div class="box col-md-4">
        <div class="image"
             style="background-image: url('../../assets/Ngam_nhung_hinh_anh_tuyet_dep_ve_Viet_Nam_tren_bao_Anh_01.jpg')"></div>
        <h1 class="py-2 text-sm"> Indonectetus facilis</h1>
        <p class="description">Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna.</p>
        <p class="text-right txt">Read more >></p>

      </div>
      <div class="box col-md-4">
        <div class="image"
             style="background-image: url('../../assets/Ngam_nhung_hinh_anh_tuyet_dep_ve_Viet_Nam_tren_bao_Anh_01.jpg')"></div>
        <h1 class="py-2 text-sm"> Indonectetus facilis</h1>
        <p class="description">Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna.</p>
        <p class="text-right txt">Read more >></p>

      </div>
    </div>
    <div class="body row py-5  ">
      <div class="col-md-7">
        <h2 class="py-3 ">Indonectetus facilis leo nibh
        </h2>
        <p class="description" >This is a W3C standards compliant free HTML5 website template from OS Templates. This template is distributed
          using a website template licence.</p>
        <p class="description">You can use and modify the template for both personal and commercial use. You must keep all copyright
          information and credit links in the template and associated files. For more HTML5 templates visit free website
          templates.</p>
        <p class="text-right txt">Read more >></p>

      </div>
      <div class="col-md-5 ">
        <img src="../../assets/hinh-anh-dep-chat-luong-001.jpg" alt="">
      </div>
    </div>

  </div>

</div>
