.header{
  padding: 20px 0px;
  background-color: #333333;
}
.logo{
  color: #C0BAB6;
  h1{
    font-size: 35px;
  }
  p{
    font-size: 12px;
  }
}
.menu{
  list-style: none;
  padding: 20px;
  background-color: #232323;
  display: block;
  float: right;
  li{
    a{
      text-decoration: none;
      transition: all 0.3s;
      color: #C0BAB6;
      padding-right: 20px;

      &:hover{
        color:#FF9900;
      }

    }
  }
}

