<div class="header">
  <div class="container d-flex flex-row justify-content-between">
    <div class="logo">
      <h1>Basic 88</h1>
      <p>Free HTML5 Website Template</p>
    </div>
    <div class="navigation">
      <ul class="menu d-flex flex-row">
        <li><a href="">Text Link</a></li>
        <li><a href="">Text Link</a></li>
        <li><a href="">Text Link</a></li>
        <li><a href="">Text Link</a></li>
        <li><a href="">Text Link</a></li>
      </ul>
    </div>
  </div>
</div>
